*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --background-color: #ddd;
  --text-color-light: #555;
  --text-color-heavy: #000;
  --error-color: rgb(255, 0, 0);
  --answer-color:  rgb(81, 155, 8);
  --input-color: #bfbfbf;
  --input-color-clicked: #ddd;
  --btn-color: chartreuse;
  --menu-background-color: #fff;
  --btn-text-color: #000;
  --theme-btn-hovered: rgb(4, 4, 107);
  --theme-btn-border-color: rgb(0, 0, 0);
  --theme-btn-text-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
}

body {
  --min-font-size: 1rem;
  --max-font-size: 18px;
  --scalar: calc(1rem + 1vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  font-size: clamp(var(--min-font-size), var(--scalar), var(--max-font-size));
  position: relative;
}

#overlay {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
}

#overlay.show {
  left: 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  min-height: 100vh;
}

header {
  text-align: center;
  padding: 2em 4em;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff7e94), to(pink));
  background: linear-gradient(to bottom right, #ff7e94, pink);
  overflow-x: hidden;
  width: 100vw;
  max-width: 100vw;
}

header p {
  font-style: italic;
}

#hamburger {
  position: absolute;
  top: 5rem;
  right: 2rem;
  cursor: pointer;
  width: 4.5rem;
  z-index: 100;
}

#hamburger .line {
  width: 4.5rem;
  height: 7px;
  border-radius: 30px;
  background: var(--btn-text-color);
  position: relative;
}

#hamburger .line::before, #hamburger .line::after {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: .5rem;
  left: 0;
  text-align: center;
  color: var(--text-color-heavy);
  font-weight: bold;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

#hamburger .line::before {
  content: 'Menu';
}

#hamburger .line::after {
  content: 'Close';
  bottom: -100px;
  opacity: 0;
}

#hamburger.clicked .line::before {
  bottom: 100px;
  opacity: 0;
}

#hamburger.clicked .line::after {
  bottom: .5rem;
  opacity: 1;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em 2em;
  text-align: center;
}

.main-container > * {
  margin-bottom: 1.5em;
}

#instructions {
  color: var(--text-color-light);
}

#instructions span {
  color: var(--text-color-heavy);
  font-weight: bold;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

form > * {
  margin-bottom: 1.5em;
  padding: .5em 2em;
}

form input {
  background: var(--input-color);
  border: none;
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

form input:focus {
  background: var(--input-color-clicked);
}

form button {
  border: none;
  outline: none;
  background: var(--btn-color);
  color: var(--btn-text-color);
  cursor: pointer;
  -webkit-transition: .1s ease;
  transition: .1s ease;
}

form button:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

#error {
  color: var(--error-color);
  font-weight: bold;
  display: none;
}

#answer {
  color: var(--answer-color);
  font-weight: bold;
  display: none;
}

#error.show, #answer.show {
  display: block;
}

.wrapper {
  position: fixed;
  top: 0;
  right: -100%;
  background: var(--menu-background-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-width: clamp(200px, 50vw, 400px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 90;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.wrapper.show {
  right: 0;
}

.themes-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2em;
}

.themes-menu .theme-btns {
  border: 2px solid var(--theme-btn-border-color);
  background: none;
  outline: none;
  padding: .5em 1.5em;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
}

.themes-menu .theme-btns:hover, .themes-menu .theme-btns.focus, .themes-menu .active {
  background: var(--theme-btn-hovered);
  color: var(--theme-btn-text-color);
  border-color: var(--theme-btn-hovered);
}

#interactive-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
}

#interactive-menu * {
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

#interactive-menu *::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.3rem;
  bottom: -0.3rem;
  left: 0;
  background: var(--text-color-heavy);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

#interactive-menu *:hover::after, #interactive-menu *:focus::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*# sourceMappingURL=style.css.map */